article{
    max-width: 320px;
    max-height: 499px;
    background-color: #FFFFFF;
    border-radius: 20px;
    justify-items: center;
    padding-top: 16px;
    padding-bottom: 24px;
}

figure{
    margin: 0;
    padding: 0;
    img{
        max-width: 288px;
        max-height: 288px;
        border-radius: 12px;
    }
}

section{
    margin: 16px;
    text-align: center;
    h1{
        margin-left: 18px;
        margin-right: 18px;
    }
    p{
        margin-left: 20px;
        margin-right: 20px;  

    }
}

